<nav class="navbar navbar-expand-lg bg-body-tertiary vh-100">
    <div class="container-fluid flex-column align-items-start h-100 px-0">
      <div class="w-100">
      <a class="navbar-brand px-3 mb-3" href="#">
        <img src="../assets/images/logo-ANSWER.svg" alt="logo"></a>
      
        <ul class="navbar-nav  flex-column fw-bold">
          <li class="nav-item">
            <a class="nav-link px-3"  aria-current="page" href="index.html">
                <svg class="me-3" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="##212529"><path d="M280-280h80v-280h-80v280Zm160 0h80v-400h-80v400Zm160 0h80v-160h-80v160ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Z"/></svg>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" aria-current="page" href="admin.html">
                <svg  class="me-3" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#212529"><path d="M360-240q-30 0-51-21t-21-51v-48h456v-312h48q30 0 51 21t21 51v504L720-240H360ZM96-288v-504q0-30 21-51t51-21h432q30 0 51 21t21 51v288q0 30-21 51t-51 21H240L96-288Z"/></svg>Question</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3 active text-success  border-start border-3 border-success" href="#">
                <svg  class="me-3" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#198754"><path d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h171q8-31 33.5-51.5T480-888q34 0 59.5 20.5T573-816h171q29.7 0 50.85 21.15Q816-773.7 816-744v528q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm72-144h288v-72H288v72Zm0-156h384v-72H288v72Zm0-156h384v-72H288v72Zm192-168q10.4 0 17.2-6.8 6.8-6.8 6.8-17.2 0-10.4-6.8-17.2-6.8-6.8-17.2-6.8-10.4 0-17.2 6.8-6.8 6.8-6.8 17.2 0 10.4 6.8 17.2 6.8 6.8 17.2 6.8Z"/></svg>Assignment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#">
                <svg  class="me-3" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#212529"><path d="m456-384 264-168-264-168v336ZM312-240q-29.7 0-50.85-21.15Q240-282.3 240-312v-480q0-29.7 21.15-50.85Q282.3-864 312-864h480q29.7 0 50.85 21.15Q864-821.7 864-792v480q0 29.7-21.15 50.85Q821.7-240 792-240H312ZM168-96q-29.7 0-50.85-21.15Q96-138.3 96-168v-552h72v552h552v72H168Z"/></svg>Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#">
                <svg  class="me-3" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#212529"><path d="M96-192v-92q0-26 12.5-47.5T143-366q54-32 114.5-49T384-432q66 0 126.5 17T625-366q22 13 34.5 34.5T672-284v92H96Zm648 0v-92q0-42-19.5-78T672-421q39 8 75.5 21.5T817-366q22 13 34.5 34.5T864-284v92H744ZM384-480q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102t-102 42Zm336-144q0 60-42 102t-102 42q-8 0-15-.5t-15-2.5q25-29 39.5-64.5T600-624q0-41-14.5-76.5T546-765q8-2 15-2.5t15-.5q60 0 102 42t42 102Z"/></svg>Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#">
                <svg  class="me-3" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#212529"><path d="m403-96-22-114q-23-9-44.5-21T296-259l-110 37-77-133 87-76q-2-12-3-24t-1-25q0-13 1-25t3-24l-87-76 77-133 110 37q19-16 40.5-28t44.5-21l22-114h154l22 114q23 9 44.5 21t40.5 28l110-37 77 133-87 76q2 12 3 24t1 25q0 13-1 25t-3 24l87 76-77 133-110-37q-19 16-40.5 28T579-210L557-96H403Zm77-240q60 0 102-42t42-102q0-60-42-102t-102-42q-60 0-102 42t-42 102q0 60 42 102t102 42Z"/></svg>Settings</a>
          </li>
        </ul>
      
      </div>
      <div class="d-flex ms-3">
        <div class="flex-shrink-0">
          <img src="../assets/images/andychen.jpeg" alt="andy-chen" width="40" height="40" class="rounded-circle object-fit-cover">
        </div>
        <div class="flex-grow-1 ms-3 ">
          <p class="fw-bold lh-sm mb-0">Andy Chen</p>
          <a href="mailto:andy0401@mail.com" class="lh-sm fs-7" style="color: #6C757D;">andy0401@mail.com</a>
        </div>
      </div>
    </div>
  </nav>