.index-title {
  font-size: 100px;
}
.w-984 {
  max-width: 984px;
  width: 100%;
}
.w-320 {
  width: 320px;
  
}
.fs-7 {
  font-size: 14px;
}
.fs-8 {
  font-size: 12px;
}
.w-584 {
  max-width: 584px;
  width: 100%;
}
.p-12 {
  padding: 12px;
}
